        /* Not currently dynamic */
        
        * {
            box-sizing: border-box;
        }
        /* User bookmark CSS */
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            border: 1px dotted black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
        li {
            border: 1px solid black;
            margin: 0.5em;
            padding: 0.5em;
        }
        /* Form CSS */
        
        option,
        input,
        label,
        button {
            padding: 0.1rem 0.5rem;
            font-size: 1rem;
            color: inherit;
        }
        
        select {
            font-family: FontAwesome, sans-serif;
            height: 2em;
            width: 2.6em;
        }
        
        select option {
            font-size: 1.2em;
            color: gold;
        }
        
        .form-box {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
        }
        /* body CSS */
        
        body {
            width: 85%;
            margin: 0 auto;
        }
        
        button,
        input[type="text"] {
            padding: 10px;
        }
        
        button:hover {
            cursor: pointer;
        }
        
        #bookmark-item {
            width: 250px;
        }
        
        .errorContainer {
            color: red;
            font-size: 2em;
        }
        
        #cancel-error {
            margin-right: 10px;
        }